# Gradle
.gradle/
build/

# Android Studio / IntelliJ
.idea/
*.iml

# Local config
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Android
captures/

# OS
.DS_Store
Thumbs.db

# Kotlin
.kotlin/

# Logs (root & anywhere)
*.log
hs_err_pid*
replay_pid*
